<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Error</title>
</head>
<body>
    <div class="container h-100"" >
        <div class="row h-100 justify-content-center align-items-center">
            <img src="https://amp.insider.com/images/579fa905dd0895003a8b4854-480-360.jpg" alt=>
            <h2>Oops. Halaman tidak bisa ditemukan.</h2>
           
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <button type="button" class="btn btn-success"><a href='http://localhost:1234'>Kembali</a></button>
        </div>
    </div>
</body>
</html>